body {
  background: #fff;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
button,
.button {
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
p,
span {
  color: #fff;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
p::selection,
span::selection,
label::selection,
address::selection,
input::selection,
textarea::selection,
button::selection {
  background: #d41217;
  color: #004f91;
}

h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
h5::-moz-selection,
p::-moz-selection,
span::-moz-selection,
label::-moz-selection,
address::selection,
input::selection,
textarea::selection,
button::selection {
  background: #d41217;
  color: #004f91;
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
input[type="url"] {
  text-align: left;
  direction: ltr;
}

small.error {
  text-align: left;
}

.row {
  max-width: 100%;
}

form label {
  color: #fff;
  line-height: 30px;
}

small.error {
  font-size: 16px !important;
}

#fp-nav ul li .fp-tooltip.right {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
}

ul {
  list-style-type: none;
}

.rtl {
  text-align: right;
  direction: rtl;
}

.title-bold {
  font-family: "Open Sans", sans-serif !important;
  font-weight: 700;
}

.mainbg {
  background: rgba(132, 169, 196, 1);
  background: -moz-linear-gradient(
    left,
    rgba(132, 169, 196, 1) 0%,
    rgba(132, 169, 196, 1) 10%,
    rgba(163, 190, 211, 1) 25%,
    rgba(191, 210, 224, 1) 47%,
    rgba(191, 210, 224, 1) 53%,
    rgba(163, 190, 211, 1) 75%,
    rgba(132, 169, 196, 1) 90%,
    rgba(132, 169, 196, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(132, 169, 196, 1)),
    color-stop(10%, rgba(132, 169, 196, 1)),
    color-stop(25%, rgba(163, 190, 211, 1)),
    color-stop(47%, rgba(191, 210, 224, 1)),
    color-stop(53%, rgba(191, 210, 224, 1)),
    color-stop(75%, rgba(163, 190, 211, 1)),
    color-stop(90%, rgba(132, 169, 196, 1)),
    color-stop(100%, rgba(132, 169, 196, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(132, 169, 196, 1) 0%,
    rgba(132, 169, 196, 1) 10%,
    rgba(163, 190, 211, 1) 25%,
    rgba(191, 210, 224, 1) 47%,
    rgba(191, 210, 224, 1) 53%,
    rgba(163, 190, 211, 1) 75%,
    rgba(132, 169, 196, 1) 90%,
    rgba(132, 169, 196, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(132, 169, 196, 1) 0%,
    rgba(132, 169, 196, 1) 10%,
    rgba(163, 190, 211, 1) 25%,
    rgba(191, 210, 224, 1) 47%,
    rgba(191, 210, 224, 1) 53%,
    rgba(163, 190, 211, 1) 75%,
    rgba(132, 169, 196, 1) 90%,
    rgba(132, 169, 196, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(132, 169, 196, 1) 0%,
    rgba(132, 169, 196, 1) 10%,
    rgba(163, 190, 211, 1) 25%,
    rgba(191, 210, 224, 1) 47%,
    rgba(191, 210, 224, 1) 53%,
    rgba(163, 190, 211, 1) 75%,
    rgba(132, 169, 196, 1) 90%,
    rgba(132, 169, 196, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(132, 169, 196, 1) 0%,
    rgba(132, 169, 196, 1) 10%,
    rgba(163, 190, 211, 1) 25%,
    rgba(191, 210, 224, 1) 47%,
    rgba(191, 210, 224, 1) 53%,
    rgba(163, 190, 211, 1) 75%,
    rgba(132, 169, 196, 1) 90%,
    rgba(132, 169, 196, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#84a9c4', endColorstr='#84a9c4', GradientType=1 );
}

.red {
  color: #d41217;
}

.bg-red {
  background: #d41217;
}

.blue {
  color: #004f91;
}

.bg-blue {
  background: #004f91;
}

.dashed {
  border-bottom: 5px dashed #004f91;
}

.txt-shadow {
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

#Modal h1,
#Modal h2,
#Modal h3,
#Modal p {
  color: #333;
}

.intro {
  max-width: 860px;
  margin: 0 auto;
  padding: 0 20px;
}

.intro p {
  font-size: 20px;
  direction: rtl;
}

/*Icons*/
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}

@font-face {
  font-family: "iconvault";
  src: url("../fonts/icons.eot");
  src: url("../fonts/icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icons.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

[class*="iconvault-"]:before {
  font-family: "iconvault";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
}

/* End Of Styles*/
/***************PAGES*************/

/*** Shared ***/
/*header*/
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.off-canvas-wrap {
  display: none;
}

.off-canvas-wrap {
  position: absolute;
  pointer-events: none;
}

.inner-wrap {
  width: 45px;
  /*height: 200px;*/
  pointer-events: visible;
}

.tab-bar {
  left: -1px;
}

.exit-off-canvas {
  position: relative !important;
}

ul.off-canvas-list li label {
  font-size: 16px;
}

header .stripe {
  height: 28px;
  background-color: rgba(10, 21, 38, 0.9);
}

#lang {
  margin-right: 30px;
}

#lang .button-group li a {
  line-height: 50%;
  height: 28px;
}

#logo {
  width: 128px;
  height: 128px;
  position: absolute;
  right: 30px;
  top: 50px;
  background: url("../images/logos/Logo128.png") no-repeat center;
}

#logo a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

ul#main-menu {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  left: 0px;
  margin-left: 0px;
}

ul#main-menu > li {
  margin-top: 10px;
  height: 32px;
  line-height: 32px;
  padding: 0 15px;
  border-right: 1px solid #fff;
}

ul#main-menu > li:last-child {
  border-right: none;
}

ul#main-menu > li > a {
  color: #fff;
  position: relative;
  padding: 10px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease-in-out;
}

ul#main-menu > li > a:after {
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 4px;
  background-color: #d41217;
  content: "";
  -webkit-transition: width 0.5s ease-in-out;
}

ul#main-menu > li > a:hover {
  background: #004f91;
  text-shadow: none;
}

ul#main-menu > li > a:hover:after {
  width: 100%;
}

#screen2 {
  background-size: cover;
}

.screen-animation {
  -webkit-backface-visibility: hidden;
  -webkit-animation: filter-animation 5s forwards;
  -moz-animation: filter-animation 5s forwards;
  -o-animation: filter-animation 5s forwards;
  animation: filter-animation 5s forwards;
}

@-webkit-keyframes filter-animation {
  0% {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%) sepia(1);
  }

  50% {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray sepia(0);
    -webkit-filter: grayscale(100%) sepia(0);
  }

  75% {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%) sepia(1);
  }

  100% {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%) sepia(0);
  }
}

@-moz-keyframes filter-animation {
  0% {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
  }

  50% {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
    -webkit-filter: grayscale(100%);
  }

  75% {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
  }

  100% {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
  }
}

@-o-keyframes filter-animation {
  0% {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%) sepia(1);
  }

  50% {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray sepia(0);
    -webkit-filter: grayscale(100%) sepia(0);
  }

  75% {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%) sepia(1);
  }

  100% {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%) sepia(0);
  }
}

@keyframes filter-animation {
  0% {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  }

  50% {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
    filter: gray;
  }

  75% {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  }

  100% {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  }
}
/*Loader*/
.loader-screen {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.loader-screen .loader-cont {
  position: absolute;
  left: 50%;
  top: 30%;
  width: 300px;
  margin-left: -150px;
  margin-top: -50px;
  text-align: center;
}

.loader-screen strong {
  display: block;
  text-transform: uppercase;
  font-size: 28px;
  text-align: center;
  margin-top: 30px;
  -webkit-animation: fade 2s infinite;
  -moz-animation: fade 2s infinite;
  font-weight: bold;
}

.loader-screen #container {
  padding-left: 10px;
  display: inline-block;
  direction: rtl;
}

.loader-screen .item {
  width: 128px;
  height: 128px;
  margin: auto;
  background: url("../images/logos/Logo128.png") no-repeat center;
  -webkit-animation: scale 2s infinite;
  -moz-animation: scale 2s infinite;
  -o-animation: scale 2s infinite;
  animation: scale 2s infinite;
}

.loader-screen .message {
  display: none;
  font-size: 22px;
  margin-top: 10px;
}

@-webkit-keyframes fade {
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fade {
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fade {
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes scale {
  25% {
    -webkit-transform: rotate(360deg);
  }

  50% {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}

@-moz-keyframes scale {
  25% {
    -webkit-transform: rotate(360deg);
  }

  50% {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}

@-o-keyframes scale {
  25% {
    -webkit-transform: rotate(360deg);
  }

  50% {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}

@keyframes scale {
  25% {
    -webkit-transform: rotate(360deg);
  }

  50% {
    transform: scale(1.1);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
  }
}

/*** Main Page ***/
/* .mainpage #screen1 {
  background: url("../images/bg.jpg") center center
    no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
} */

.mainpage #video_bg {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}

.mainpage #main_title {
  position: absolute;
  width: 20%;
  top: 5%;
  margin-left: 40%;
  text-align: center;
  z-index: 2;
  margin-top: 126px;
}

.mainpage #main_title .txt-pic {
  max-width: 380px;
  width: 100%;
  min-width: 210px;
}

.mainpage #main_title .btn-white {
  font-size: 28px;
  margin: 30px 0;
  max-width: 380px;
  min-width: 210px;
  position: relative;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.mainpage #main_title .btn-white:after {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  content: "";
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  background-color: #fff;
}

.mainpage #main_title .btn-white:hover {
  color: #004f91;
  background: none;
}

.mainpage #main_title .btn-white:hover:after {
  height: 100%;
}

.btn {
  font-family: "Open Sans", sans-serif;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: center;
  border: 3px solid #fff;
  width: 100%;
  display: inline-block;
  text-decoration: none;
}

.btn-white {
  color: #fff;
  height: 62px;
  line-height: 56px;
  font-size: 33px;
}

.btn-white:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.screen {
  width: 100%;
  display: inline-block;
  position: relative;
  float: left;
}

#screen1 .overlay {
  width: 100%;
  height: 100%;
  background: rgba(0, 50, 92, 0.35);
  position: absolute;
  top: 10px;
  z-index: 1;
}

.screen .arr {
  cursor: pointer;
  margin-top: 30px;
}
/*Projects*/
#mainpage-project-container {
  width: 100%;
  padding: 20px;
  z-index: 100;
}

@media only screen and (min-width: 321px) {
  #mainpage-project-container > .fp-tableCell {
    background: url("../images/bg/1.svg") left top no-repeat;
  }

  .no-svg #mainpage-project-container > .fp-tableCell {
    background: url("../images/bg/1.png") left top no-repeat;
    background-size: 250px;
  }
}

.mainpage-project,
.mainpage-project-links {
  display: none;
}

.mainpage-project {
  padding: 30px;
  overflow: hidden;
}

.mainpage-project-img {
  position: relative;
}

.slide-right {
  -webkit-animation: slide-right 1.5s;
  -moz-animation: slide-right 1.5s;
  -o-animation: slide-right 1.5s;
  animation: slide-right 1.5s;
}

.slide-left {
  -webkit-animation: slide-left 1.5s;
  -moz-animation: slide-left 1.5s;
  -o-animation: slide-left 1.5s;
  animation: slide-left 1.5s;
}

@-webkit-keyframes slide-right {
  from {
    right: 200px;
  }

  to {
    right: 0px;
  }
}

@-webkit-keyframes slide-left {
  from {
    left: 200px;
  }

  to {
    left: 0px;
  }
}

@-moz-keyframes slide-right {
  from {
    right: 200px;
  }

  to {
    right: 0px;
  }
}

@-moz-keyframes slide-left {
  from {
    left: 200px;
  }

  to {
    left: 0px;
  }
}

@-o-keyframes slide-right {
  from {
    right: 200px;
  }

  to {
    right: 0px;
  }
}

@-o-keyframes slide-left {
  from {
    left: 200px;
  }

  to {
    left: 0px;
  }
}

@keyframes slide-right {
  from {
    right: 200px;
  }

  to {
    right: 0px;
  }
}

@keyframes slide-left {
  from {
    left: 200px;
  }

  to {
    left: 0px;
  }
}

.mainpage-project-links {
  margin-top: 10%;
}

.btn-case-study:hover,
.btn-case-study:active {
  background: #a01e21 !important;
}

ul.slides {
  position: relative;
  margin: 0;
  padding: 0;
}

ul.slides li {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.mainpage-project-arrow {
  margin-top: 15%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

.mainpage-project-arrow:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

#project-arrow-left {
  padding-left: 0px;
}

#project-arrow-right {
  padding-right: 0px;
}
/*Services*/
#main-services {
  height: 500px;
  width: 100%;
}

#main-services .service {
  float: left;
  width: 25%;
  height: 100%;
  color: #fff;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  cursor: pointer;
}

#main-services .service.mid {
  width: 23.33%;
}

#main-services .service.hover {
  width: 30%;
}

#main-services .service .bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
}

#main-services #strategy .bg {
  background-image: url("../images/pages/main/main-service1.jpg");
  background-position: left center;
}

#main-services #ux .bg {
  background-image: url("../images/pages/main/main-service2.jpg");
  background-position: center center;
}

#main-services #apps .bg {
  background-image: url("../images/pages/main/main-service3.jpg");
  background-position: right center;
}

#main-services #compagin .bg {
  background-image: url("../images/pages/main/main-service1.jpg");
  background-position: right center;
}

#main-services .service .gray,
#map_canvas {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-backface-visibility: hidden;
}

#main-services .service:hover .gray,
#map_canvas:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
}

#main-services .service .cl-more {
  display: block;
  text-align: center;
  width: 100%;
  height: 20px;
  bottom: 10%;
  z-index: 5;
  position: absolute;
  left: 0;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  opacity: 0;
  -webkit-transition: all 0.4s ease-out;
  -moz-transition: all 0.4s ease-out;
  -o-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}

#main-services .service.hover .cl-more {
  opacity: 1;
}

#main-services .service .title-cont {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

#main-services .service .title {
  text-align: center;
  margin-top: 50%;
}

#main-services .service .title span,
#main-services .service .title strong,
#main-services .service .title small {
  display: block;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
}

#main-services .service .title small {
  font-size: 25px;
}

#main-services .service .title strong {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  font-weight: normal;
  padding: 10px 0;
}

#main-services .service .title span {
  font-size: 30px;
}
/*Blogs*/
#main-blog {
  height: auto;
  width: 100%;
}

@media only screen and (min-width: 321px) {
  #main-blog > .fp-tableCell {
    background: url("../images/bg/4.svg") right bottom no-repeat;
  }

  .no-svg #main-blog > .fp-tableCell {
    background: url("../images/bg/4.png") right bottom no-repeat;
    background-size: 250px;
  }
}

#main-blog-container {
  position: relative;
}

#main-blog h2 {
  margin: 20px 0;
}

.blog-inner {
  margin: 0 5px;
  background: #fff;
  overflow: auto;
  -moz-box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1);
}

#tiles {
  position: relative;
  margin: 0;
  padding: 0;
}

#tiles li {
  width: 200px;
  background-color: #ffffff;
  border: 1px solid #dedede;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  display: none;
  cursor: pointer;
  padding: 4px;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#tiles li.inactive {
  visibility: hidden;
  opacity: 0;
}

#tiles li img {
  display: block;
}

#tiles li p {
  color: #333;
  font-size: 15px;
  line-height: 20px;
  text-align: left;
  font-weight: 200;
  margin: 7px 0 2px 7px;
}
/*Start Project*/
#start-project {
  width: 100%;
}

#start-project > .fp-tableCell {
  background: url("../images/bg/3e.svg") center no-repeat;
}

.no-svg #start-project > .fp-tableCell {
  background: url("../images/bg/3e.png") center no-repeat;
  background-size: 250px;
}

a#start-project-link {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

a#start-project-link:hover {
  box-shadow: inset 0 0 0 8px #d41217;
}
/*Footer*/

footer > .fp-tableCell {
  vertical-align: bottom;
}

#contacts-container {
  padding: 0;
  /* -moz-box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1); */
}

#contacts,
#map {
  margin: 0;
  padding: 0px;
}

#address {
  color: #fff;
  padding: 50px;
  text-align: left;
}

#address address {
  font-size: 25px;
  margin-top: 30px;
}

#address h4 {
  margin-top: 30px;
}

#address span.tel {
  font-size: 20px;
}

#footer-message {
  padding: 50px;
  text-align: left;
}

#footer-message > form > .row .columns {
  padding-left: 0;
}

a[aria-label="submit form"] {
  margin-top: 18px;
  margin-right: 15px;
  background: #333333;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

a[aria-label="submit form"]:hover {
  box-shadow: inset 0 0 0 5px #d41217;
}

.contact-message {
  overflow: auto;
  height: 100px;
}

.has-tip {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  border-bottom: none;
  cursor: pointer;
}

.tooltip {
  font-size: 20px;
  text-align: right;
  direction: rtl;
}

#map_canvas {
  width: 100%;
  height: 300px;
  vertical-align: bottom;
  border-bottom: 1px dotted #fff;
  background: url("../images/map.jpg") no-repeat center;
  background-size: cover;
}

ul.footer-list {
  margin-top: 50px;
}

ul.footer-list#top {
  margin-top: 35px;
}

ul.footer-list > li {
  float: left;
  text-align: center;
  padding-bottom: 10px;
}

ul.footer-list > li > a {
  font-size: 20px;
}

ul.footer-list > li > a,
ul.footer-list > li > a > span {
  color: #333333;
}

ul.footer-list#top > li {
  overflow: hidden;
}

ul.footer-list#top > li > a > span {
  color: #fff;
  float: left;
}

@media only screen and (min-width: 1025px) {
  ul.footer-list#top > li > a > span:hover {
    -webkit-animation: bounce 0.3s ease-in-out;
    -moz-animation: bounce 0.3s ease-in-out;
    -o-animation: bounce 0.3s ease-in-out;
    animation: bounce 0.3s ease-in-out;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(0, 30px);
    -moz-transform: translate(0, 30px);
    -o-transform: translate(0, 30px);
    -ms-transform: translate(0, 30px);
    transform: translate(0, 30px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-moz-keyframes bounce {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(0, 30px);
    -moz-transform: translate(0, 30px);
    -o-transform: translate(0, 30px);
    -ms-transform: translate(0, 30px);
    transform: translate(0, 30px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@-o-keyframes bounce {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(0, 30px);
    -moz-transform: translate(0, 30px);
    -o-transform: translate(0, 30px);
    -ms-transform: translate(0, 30px);
    transform: translate(0, 30px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  50% {
    -webkit-transform: translate(0, 30px);
    -moz-transform: translate(0, 30px);
    -o-transform: translate(0, 30px);
    -ms-transform: translate(0, 30px);
    transform: translate(0, 30px);
  }

  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

#logo-bottom {
  background: gray;
  height: 100px;
  width: 50%;
  margin: 0 auto;
}

.scrollToTop {
  width: 64px;
  height: 64px;
  margin: 10px auto;
  border: 1px dashed #333;
  display: block;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background: url("../images/arrow2.png") no-repeat 0px 20px;
  background-position: center center;
  background-repeat: no-repeat;
}

.scrollToTop:hover {
  text-decoration: none;
}

/*** Start Project ***/
#start-project-section > section {
  width: 80%;
  margin: 140px auto 50px;
}

#start-project-section > section > h1 {
  font-size: 35px;
  margin: 30px 0;
  text-align: left;
}

#start-project-section > section > h4 {
  text-align: left;
}

#start-project-section > section p {
  width: 70%;
  font-size: 20px;
  margin: 10px 0 40px 0;
}

#start-project-section > section form .row .columns:nth-child(2n + 1) {
  float: left;
  direction: ltr;
  text-align: left;
}

#start-project-section > section form .row .columns label {
  margin-bottom: 10px;
  direction: ltr;
  text-align: left;
}

#start-project-section > section form .space {
  margin-top: 35px;
}

#start-project-section > section form .no-space {
  margin-top: 0;
}

#start-project-section > section form .collapse .textarea-prefix {
  height: 100%;
  margin: 0px;
}

#start-project-section > section form textarea {
  height: 100%;
}

#start-project-section > section form select {
  padding-right: 20px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  direction: ltr;
  text-align: left;
}

#start-project-section > section form label {
  font-size: 20px !important;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  display: none;
}

.custom-file-input::before {
  content: "\f0ee";
  display: inline-block;
  background-color: #e7e7e7;
  border-color: #b9b9b9;
  border-style: solid;
  border-width: 0;
  padding-top: 1rem;
  padding-right: 2rem;
  padding-bottom: 1.0625rem;
  padding-left: 2rem;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 20px;
  outline: none;
  margin-right: 10px;
}

.custom-file-input:hover::before {
  border-color: black;
}

.switch {
  text-align: left;
}

/************Media Queries**************/

@media only screen and (min-width: 1025px) and (max-width: 1440px) {
  #main-services .service .title strong,
  #main-services .service .title span {
    font-size: 26px;
  }
}

@media only screen and (max-width: 1440px) {
  #map_canvas {
    height: 220px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1200px) {
  .mainpage #main_title .btn-white {
    font-size: 24px;
  }
}

@media only screen and (max-width: 1024px) {
  .mainpage #video_bg {
    display: none;
  }

  .mainpage-project-links h3 {
    font-size: 24px;
  }

  #main-services .service .title strong {
    font-size: 22px;
  }

  #main-services .service .title span {
    font-size: 24px;
  }

  #main-services .service .gray,
  #map_canvas {
    filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='matrix' values='1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0'/></filter></svg>#grayscale");
    -webkit-filter: grayscale(0%);
  }

  form .row:last-child {
    margin-top: 20px;
  }

  form .row .columns,
  a[aria-label="submit form"] {
    margin-top: 10px;
  }

  form .row .columns {
    padding: 0;
  }

  a[aria-label="submit form"] {
    width: 100%;
    margin-right: 0;
  }
}

@media only screen and (max-width: 992px) {
  .mainpage #main_title .btn-white {
    font-size: 20px;
    padding-top: 5px;
  }

  #logo {
    width: 64px;
    height: 64px;
    background: url("../images/logos/Logo64.png") no-repeat center;
  }

  ul#main-menu > li > a {
    font-size: 14px;
  }

  .mainpage #main_title {
    width: 210px;
    left: 50%;
    margin-left: -105px;
    margin-top: 126px;
  }

  .btn-white {
    height: 50px;
    line-height: 26px;
    font-size: 20px;
  }

  .mainpage-project-links {
    margin-top: 5%;
  }

  #map_canvas {
    height: 230px;
    background-position: center right;
  }
}

@media only screen and (max-width: 768px) {
  .loader-screen strong {
    font-size: 22px;
  }

  #logo {
    display: none;
  }

  .off-canvas-wrap {
    display: block;
  }

  nav[role="primary"] {
    display: none;
  }

  .mainpage-project-links {
    margin-top: 0px;
  }

  .mainpage-project-links h3 {
    font-size: 20px;
  }

  #main-services {
    height: auto;
  }

  #main-services .service {
    width: 100%;
    height: 250px;
  }

  #main-services .service .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #main-services .service .cl-more {
    display: none;
  }

  #main-services .service .title-cont {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  #main-services .service .title {
    float: right;
    margin: 20px;
    margin-top: 0;
    direction: rtl;
  }

  #main-services .ic {
    width: 64px;
    height: 25px;
    position: relative;
  }

  #main-services .txt {
    display: inline-block;
    text-align: right;
    margin-top: 10px;
    padding-left: 10px;
  }

  #main-services .service .title small {
    font-size: 18px;
  }

  #main-services .service .title span,
  #main-services .service .title strong,
  #main-services .service .title small {
    display: block;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.2);
  }

  #main-services .service .title strong {
    font-size: 22px;
    font-weight: normal;
    padding: 5px;
  }

  #main-services .service .title span {
    font-size: 16px;
  }

  #start-project h3 {
    font-size: 22px;
  }

  ul.footer-list#top > li > a > span {
    float: none !important;
  }

  .has-tip {
    font-size: 14px;
  }
}

@media only screen and (min-width: 641px) and (max-width: 768px) {
  #contacts h3,
  #address address {
    font-size: 22px;
  }

  #address address {
    margin-top: 35px;
  }

  #address h4 {
    font-size: 19px;
  }

  ul.footer-list {
    margin-top: 20px;
  }

  ul.footer-list#legal > li > a {
    font-size: 19px;
  }

  ul.footer-list > li > a > span {
    font-size: 1.5em;
  }
}

@media only screen and (max-width: 640px) {
  .loader-screen strong {
    font-size: 18px;
  }

  .mainpage #main_title .txt-pic {
    min-width: 0;
  }

  .mainpage #main_title {
    width: 170px;
    margin-top: 200px;
    left: 50%;
    margin-left: -85px;
  }

  .mainpage #main_title .btn-white {
    font-size: 16px;
    padding: 0;
    margin: 15px 0;
    min-width: 170px;
  }

  .btn-white {
    height: 30px;
    line-height: 26px;
    font-size: 16px;
  }

  .screen .arr {
    margin-top: 10px;
    width: 20px;
  }

  .mainpage-project-links h3 {
    font-size: 24px;
  }

  #project-arrow-right {
    margin-top: 3%;
    margin-bottom: 100px;
  }

  #main-services .service {
    height: 240px;
  }

  #address {
    padding: 50px 50px 15px 50px;
  }

  #address address {
    font-size: 20px;
  }

  ul.footer-list {
    margin-top: 15px;
  }

  ul.footer-list#top > li {
    padding-left: 5%;
  }

  ul.footer-list#legal > li > a {
    font-size: 17px;
  }

  ul.footer-list#bottom > li > a > span {
    font-size: 1em;
  }
}
/* mobile-only styles, use when Q&A mobile issues */

@media only screen and (min-width: 321px) and (max-width: 640px) {
  #mainpage-project-container .fp-scrollable {
    background: url("../images/bg/4.svg") right bottom no-repeat;
  }

  .no-svg #mainpage-project-container .fp-scrollable {
    background: url("../images/bg/4.png") right bottom no-repeat;
    background-size: 250px;
  }
}

@media only screen and (max-width: 480px) {
  #main-services .service {
    height: 200px;
  }

  #main-services .service .title strong {
    font-size: 18px;
  }

  .mainpage-project-links h3 {
    font-size: 20px;
  }

  #start-project h3 {
    font-size: 20px;
  }

  #address {
    padding: 50px 20px 15px 20px;
  }

  #footer-message {
    padding: 20px 20px 35px 20px;
  }

  #footer-info-container .columns#social {
    padding: 0;
  }

  #footer-info-container .columns#social ul.footer-list > li {
    padding-left: 0;
  }
}

@media only screen and (max-width: 320px) {
  .mainpage-project-arrow span.fa {
    font-size: 2em;
  }

  #main-services .service {
    height: 150px;
  }

  #main-services .service .title strong {
    font-size: 14px;
  }

  #start-project h3 {
    font-size: 16px;
  }

  #start-project a {
    font-size: 12px;
  }

  #contacts h3 {
    font-size: 18px;
  }

  #address address,
  #address span.tel,
  #address h4 {
    font-size: 16px;
  }

  #address,
  #footer-message {
    padding: 50px 0 10px 0;
  }

  ul.footer-list#top > li {
    padding-left: 0;
  }

  ul.footer-list#top > li > a > span {
    font-size: 1em;
  }

  #footer-message form label {
    font-size: 18px !important;
  }

  #footer-message form label input[type="text"],
  input[type="email"],
  textarea {
    font-size: 16px;
  }

  #footer-message a[role="button"] {
    font-size: 12px;
  }

  .has-tip {
    font-size: 12px;
  }

  #map_canvas {
    height: 165px;
  }

  ul.footer-list#legal > li > a {
    font-size: 14px;
  }
}

/**Cutomized**/
@media screen and (orientation: landscape) {
  .mainpage #main_title {
    margin-top: 50px;
  }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
  .mainpage #screen1 #main_title {
    margin-top: 150px;
  }

  .mainpage #screen2 #main_title {
    margin-top: 200px;
  }
}

@media screen and (orientation: landscape) and (min-width: 768px) and (max-width: 1024px) {
  #screen1 .mainpage #main_title .txt-pic {
    width: 50%;
  }

  .mainpage #main_title .btn-white {
    font-size: 20px;
  }
}

@media screen and (orientation: landscape) and (max-width: 768px) {
  .mainpage #screen1 #main_title .txt-pic {
    width: 50%;
    min-width: 0;
  }

  .mainpage #screen1 #main_title .arr {
    height: 55px;
  }
}
